name: Backend Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  call-deploy-template:
    uses: your-org/your-shared-repo/.github/workflows/deploy-template.yml@main
    with:
      app_name: backend
      build_context: ./
      docker_port: "8080"
      env_file_path: /home/svc_user/app/klus-infra/.run_env
      network_name: fast-net
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      EC2_HOST: ${{ secrets.EC2_HOST }}
      EC2_USER: ${{ secrets.EC2_USER }}
      EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
